## <font color = blue>1.Functions</font>

Functions are used to perform a particular task. They are represented as ----> function_name()

In [2]:
print('Hello world')

Hello world

So in the example above I am asking Python to print 'Hello World' by passing it as an argument. 'print' function here
prints the text 'Hello world' as an output. Since Hello World is a text, we put it inside inverted commas to get it printed.

In [3]:
print(7)

7

In the example above, I am printing the number/value '7' & since it is a number/value we do not put it inside inverted
commas to get it printed as an output.

**To summarize:** 'print' function is used to print the text or value provided within it's argument.
If the argument is a text/string/object always write it within inverted commas.
If the argument is a value write it without inverted commas.

## <font color = blue>2.Variables</font>

Variables are used to store the values. Variables are case sensitive and can be any text with a special character. 
However, one can oly use '_' as the special charcter.
Variables should always be in the form of a text preceding the number and not vice-versa.

In [4]:
a = 12

In [5]:
a

12

In the cell above, I have used 'a' as a variable and stored the value '12' in it.

In [6]:
b = 10

In [7]:
d = a+ b

In [8]:
d

22

Now, I am performing a mathematical operation. '+' is an additional operator. It is used to add two values. Remember, I have 
already stored 12 in 'a'. Further I am defining 'b' as 10. I am then adding both 'a' and 'b' and storing the result in 'd'.
So when I am printing 'd'. I will get sum of 'a' and 'b' which is (12+10= 22).

In [10]:
D = 20

In [11]:
D

20

In the previous example, I have got the output 'd' as 22. This time I am storing 20 into 'D'. Now, when I print 'D', I
get the output as 20 instead of 22. This indicates that **Python is a 'case-sensitive' language.**

In [12]:
a9 = 7

In [13]:
a9

7

In [5]:
9a=7

SyntaxError: invalid decimal literal (2364758970.py, line 1)

As you can see above, when I assign a text followed by a number as a variable it do prints the value stored in it.
However, when I switch their places, it shows me a syntax error. This indicates that alphanumeric assignment is the 
one of the correct way to assign a variable.

## <font color = blue>3.Data types in Python</font>

There are 4 major data types in Python namely Integer, Float, Boolean, String.

Each of the data type, their representation in Python and their examples are shown below:

Integer ------> int -----------> 1,2,3,4...

Float ------> float -----------> 1.0, 2.0, 3.5, 4.7....

Boolean ------> bool-----------> True, False

String ------> str ------------> "abc",'abc'

Type function : type() returns the data type of the entered input.

In [17]:
print(type(1))

<class 'int'>

Since '1' is a integer, the type of the class would be returned as 'int'.

In [18]:
print(type(True))

<class 'bool'>

Since 'True' is boolean, the type of the class would be returned as 'bool'.

In [19]:
print(type('abc'))

<class 'str'>

Since 'abc' is a string, the type of the class would be returned as 'str'.

In [20]:
print(type(1.2))

<class 'float'>

Since '1.2' is a decimal/float value, the type of the class would be returned as 'float'.

## <font color = blue>4. Sequential Data types in Python</font>

The Sequential datatypes in Python and their representation are listed as below:
    
tuple ------> ()

list ------>  []

set ------>   {}

dict ------>  {}

### <font color = green>4.1 List</font>

Lists are represented by square brackets.
Lists can contain any data type as well as another list in itself.Let us define a list now:

In [22]:
mylist = [23, 23.5, "abc",[1,2], True]

In [23]:
print(mylist)

[23, 23.5, 'abc', [1, 2], True]

So in cell 22, I am defining the values I want in my list and storing in a variable 'mylist' and
in the cell 23 I am printing the variable 'mylist'.
One thing to note here is, I have made use of multiple datatypes in the list above.
Here 23 is an 'int', 23.5 is a 'float', abc is a 'str', [1,2] is a 'list' and True is a 'bool'.
List can contain another list as well.

### <font color = red>4.1.1 Indexing in List</font>

Indexing is used for fetching the values inside a list.

Indexing can be of 2 types 'positive' and 'negative' indexing.

Positive Indexing in Python starts from 0 (left to right) while negative starts from -1 (right to left).

In [27]:
print(mylist)

[23, 23.5, 'abc', [1, 2], True]

In [28]:
mylist [2]

'abc'

Here, I am fetching the 2nd position from mylist which would be the text 'abc'. Remember the index position for the first 
value (23 in the above example) is 0.

In [30]:
mylist [3][1]

2

Here, I am fetching the 3rd index position and since we have another list inside we have to again provide indexing to
fetch the values within it. So I am telling Python to give me 3rd index position followed by 1st index position witin the 
value of 3rd index position.

### <font color = red>4.1.2 Slicing in List</font>

Slicing is used for displaying the range of values

For slicing one needs to put the 'start' value and 'stop +1' value

Represented as ----> start: stop +1

Here ':' represents the range.

In [32]:
print(mylist[0:3])

[23, 23.5, 'abc']

In the code above I am fetching all the values in the range from index position 0 till index postion 2.
Remember, 0:3 indicates all the values from '0 to 2' and NOT '0 to 3'. 
It is start: stop + 1!

In [33]:
print(mylist[0:3], mylist [3])

[23, 23.5, 'abc'] [1, 2]

In the code above, I am printing values of 2 lists together. This can be done by simply by putting the values
inside the print argument separated by a ','.

In [10]:
mylist=[23,76,"hello world",34.5, [1,2,3]]

In [12]:
print(mylist[0:2])

[23, 76]

In [17]:
print(mylist[-1][0:2])

[1, 2]

Now let us see how Negative indexing works. In the code above I am fetching '0:2' from the index position '-1'.
Remember, the last value of the list is always '-1', the second last being '-2' and so on...
So here I am fetching '[1,2,3]' first followed by 0:2 which means '[1,2]' from the list.

In [19]:
print(mylist[0:2],mylist[-1][0:2])

[23, 76] [1, 2]

In the code above I am fetching the values in the range 0:2 from mylist first followed by fetching the index position '-1' 
and the range inside '-1' index position.

### <font color = green>4.2 Mutable and Immutable objects</font>

Mutlable objects are the objects can be changed ,while immutable are the objects that are fixed once assigned.

**Lists are mutable and Tuple are immutable.**

In [35]:
print(mylist)

[23, 23.5, 'abc', [1, 2], True]

In [36]:
mylist[0]= 10

In [37]:
print(mylist)

[10, 23.5, 'abc', [1, 2], True]

Here in Cell 36 I am assigning '10' as a value in the list 'mylist'. On printing 'mylist' again we could see '10' 
replacing the original value '23' from 'mylist'.

This clearly indicates that **Lists are mutable (changeable).**

Lists being mutable is something that would be going to be handy for us while performing Machine Learning.

In [41]:
mytuple = (23, 23.5, 'abc', [1, 2], True)

In [42]:
print(mytuple)

(23, 23.5, 'abc', [1, 2], True)

In [40]:
mytuple[0]= 10    #will display an error

TypeError: 'tuple' object does not support item assignment

I did the same with Tuples as well, However it showed us syntax error 'Tuple object does not support item assignment'.
This indicates Tuples are immutable (non-changeable).

### <font color = green>4.3 Sets</font>

Sets are used to return only unique values. Let us see an example.

In [44]:
d = [1,1,1,2,2,2,3,3,3]

In [46]:
set(d)

{1, 2, 3}

As evident from above, set() neglected the duplicate values from the Set 'd' and returned only the unique values.

A proper use case of this in Machine Learning is to see how many Categories we have in the data when the data is
populated with duplicates of multiple categories.

Sets are always defined using curly brackets.

### <font color = green>4.4 Conversion of Set to List</font>

A set can be converted to list and vice-versa by passing it through variables. The example below illustrates how it can be 
done.

In [48]:
 e = set(d)

In [49]:
f = list(e)

In [50]:
f

[1, 2, 3]

### <font color = green>4.5 Dictionary</font>

Dictionary is used for storing 'keys' with their 'values'.
In simple words 'keys' are labels which are mapped to their 'values' which can be of any type.
Let us look at the example below to get a more clear idea of Dictionary.

In [59]:
mydict = {"name":"Ninad","age":26,"place":"Mumbai"}

Here 'name','age','place' are labels & 'Ninad','26' & 'Mumbai' are the values.

Dictionaries are used often while performing mapping,encoding or scaling the data. We use zip of the dictionary to see how
the values are being encoded.

In [63]:
mydict["name"]

'Ninad'

The above code will fetch the value for the key 'name' from the Dictionary.

In [64]:
mydict["age"]

26

The above code will fetch the value for the key 'age' from the Dictionary.

In [65]:
list2 = [mydict["name"],mydict["age"]]

In [66]:
list2

['Ninad', 26]

One can also make a list of Dictionaries as above.

## <font color = blue>5. Append, Insert & Length</font>

Let us understand the definition of each:

Append --------> Appends the value at the end.

Insert --------> Inserts the value at the specified index.

Length --------> Returns the length (total no of elements) in the list/tuple/set/dict.

Let us see an example.

In [67]:
abc = [1,2,3]

In [68]:
abc

[1, 2, 3]

In [71]:
len("abc")

3

'len' function fetches the length of the list. Since 'abc' has 3 elements, the length would be 3.

In [72]:
abc.append(4)

In [73]:
abc

[1, 2, 3, 4]

'append' function appends the list from behind. So in the above example, we have appended the value '4' in the list
[1,2,3] and hence the output [1,2,3,4].

In [74]:
abc.insert(1,5)

In [75]:
abc

[1, 5, 2, 3, 4]

'insert' function inserts the value in the specified poistion mentioned in the argument. In the above example, we 
are inserting the value '5' in the index position '1' in the list.
One thing to note here is insert would NOT replace the value in index position 1 but shift the value which was at index
position 1 to 2 and insert the current value to position 1.

Syntax: insert(index_position,value)

## <font color = blue>6. If, elif & else</font>

If, elif and else are conditional statements in Python.
So the general algorithm of these statements is

    if (condition):
        execute_the code_1
    elif (condition2):
        execute the code_2
    else:
        execute the code_3
        
Here we check for a condition, if it gets satisfied we execute the code_1, else we check the elif condition and 
execute the code_2,else we directly execute the code_3.

So here conditions are checked only for if and elif.

**Indentation (space) after semicolon(:) is much needed to execute the code without errors.**


Let us make it more simpler using the following example.

In [76]:
var = 12

In [81]:
if var > 13:
    print('Hello!')   
elif var == 12:
        print('yes')
else:
        print('bye')

yes

So in the above example, we defined a varibale "var" and stored the value 12 in it . We then checked whether the value
in "var" is greater than 13, so since it is not we jumped to elif statement and checked if it is equal to 12 and since it 
was true, we executed the code below it, which was print('yes'). One thing to remember here is, since the condition was
satisfied on the elif statement we do not jump to the else statement and break out of the code.

## <font color = blue>7. Input function</font>

Input function will ask the user to input a value.However, since input function is by default a string data-type we have to
make sure to use the desire data type before it.

In [83]:
a = int(input("Enter 1st no: "))
b = int(input("Enter 2nd no: "))

Enter 1st no: 10
Enter 2nd no: 20

In [84]:
c = a+b

In [85]:
c

30

In the above code I have asked the user to input the 1st no & 2nd no and stored them in variable 'a' and 'b'. I 
further added them and stored them in 'c' and printed 'c'. This is how one can ask the user to input any value and perform
operations on it.

## <font color = blue>8. Task: Ask the user to input the grades and print respective Grade levels</font>

Now I would like you to perfrom the following Task on your own first. Try it yourself first, if not then you can refer
this code.

Assign grades as per the criteria:

    Grade A: 75 <= input marks <= 100
    Grade B: 50 <= input marks < 74
    Grade C: 35 <= input marks < 49
    Fail   : 0  <= input marks < 34

In [111]:
inputMarks= int(input("Enter your marks: "))

Enter your marks: 101

In [112]:

if inputMarks >= 75 and inputMarks <= 100 :
    print('Grade A')   
elif inputMarks >= 50 and inputMarks < 75:
    print('Grade B')
elif inputMarks >= 35 and inputMarks < 50:
    print('Grade C')
elif inputMarks >= 0 and inputMarks < 35:
    print('Fail')
else:
    print('Invalid marks')

Invalid marks

## <font color = blue>9. for loop</font>

'for' loop is one of the most important & widely used loop in python.'for' loop is used to assess a particular range of values
one by one. It would execute the code within it for each and every value inside the range.
Let us understand it using the following example.

In [115]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Here it is checking for all the values (i) in the range 0,10 so the values would be (0 to 9) since slicing ends at 'stop + 1'. For each value (i) it will print the value (i). Hence we get the output '0,1,2,3,4,5,6,7,8,9'.

## <font color = blue>10. Task: Print the table of 2 using for loop</font>

I would like you to try this task on your own first. Once done, refer this code.

In [128]:
#print the table of 2 using for loop

for i in range(1,11):

    print("2","*",i,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

## <font color = blue>11. Segregate different data types using for loop & if statement</font>

In [17]:
my_list= [23, 'hello','hi',45.9,'bye',12,76,'zero',0,99,[23,'one',12.7],77,11,(6,2,0),11.0]

Segregate 'mylist' into lists of different datatypes

In [130]:
my_list

[23,
 'hello',
 'hi',
 45.9,
 'bye',
 12,
 76,
 'zero',
 0,
 99,
 [23, 'one', 12.7],
 77,
 11,
 (6, 2, 0),
 11.0]

In [18]:
list_of_integers1=[]
list_of_string1=[]
list_of_float1=[]
list_of_tuple1=[]
list_of_list1=[]

for i in my_list:
    if type(i)==int:
        list_of_integers1.append(i)
    elif type(i)==str:
        list_of_string1.append(i)
    elif type(i)==float:
        list_of_float1.append(i)
    elif type(i)==tuple:
        list_of_tuple1.append(i)
    elif type(i)==list:
        list_of_list1.append(i)
        
print(list_of_integers1)
print(list_of_string1)
print(list_of_float1)
print(list_of_tuple1)
print(list_of_list1)

[23, 12, 76, 0, 99, 77, 11]
['hello', 'hi', 'bye', 'zero']
[45.9, 11.0]
[(6, 2, 0)]
[[23, 'one', 12.7]]

In the code above, I have first made blank list of each datatype (integers, list, float, tuple, string).

I am then using for loop for every element (i) in 'mylist' and checking one by one using if statement whether the 
type/class of the element (i) is integer,string, tuple, list. If the datatype is one of these datatypes, I am appending it
to the respective blank list of the datatype.

To make it more clear, consider the first element '23', since the type of it is an integer, the first if statement will get 
executed and i(23) will appended to the blank list_of_integers1. 

If we take the element 'hello',  since the type of it is a string (str), the second elif statement will get 
executed and i(hello) will appended to the blank list_of_strings1.

**for & if statements are used to append mode & mean for Null value Treatment in Machine Learning.
These statements are important and should be practiced well.**

## <font color = blue>12. Defining a function</font>

As you would proceed learning more about Python for Data Science, you will understand that programmers often call 
built-in functions/libraries instead of writing lengthy code time and again. 
The genesis of all this could be understood well by understanding 'how to define a function'.

### <font color = green>12.1 Defining a function without an argument</font>

To define a function without an argument, the syntax would be as follows:
    
    def function_name():
        variable_name = code
        return variable_name
        
To call a function use:
        function_name()

In [1]:
def myfunction():
    a= 10*10
    return a

In [2]:
myfunction()

100

Here I am defining a function named 'myfunction()' which when called will return the value of 'a', where
a = 10*10.

### <font color = green>12.2 Defining a function with a single argument</font>

To define a function with a single argument (arg1), the syntax would be as follows:
    
    def function_name(arg1):
        variable_name = code containing (arg1)
        return variable_name
        
To call a function use:
        function_name(variable_name)

In [5]:
def myfunction(no1):
    a= no1*10
    return a

In [7]:
myfunction(2)

20

Here I have used an argument as 'no1' and in the function 'myfunction' I am returning 'a' as an output, where 
a=no1*10.

### <font color = green>12.3 Defining a function with multiple arguments</font>

To define a function with multiple arguments (arg1,arg2,.....argn), the syntax would be as follows:
    
    def function_name(arg1,arg2,.....argn):
        variable_name = code containing (arg1,arg2,.....argn)
        return variable_name
        
To call a function use:
        function_name(variable_name)

In [8]:
def myfunction(no1,no2):
    a= no1*no2
    return a

In [9]:
myfunction(2,5)

10

In the code above, I am calling a multiplication function for 2 numbers no1 & no2. I have passed these numbers in the
argument while calling the function. The output of the function will be varibale 'a' where the product of no1, no2 is 
stored.
One can also use multiple arguments and modify the code as desired.

## <font color = blue>13. Task: Return a table for the value inputed by user. Define a function</font>

Try this task for yourself. This time define a function that fetches the table of the inputed value and displays it as an
output. Refer this code after you have tried writing the code yourself.

In [8]:
def gettable(number1):
    for i in range(1,11):
        print(number1,"*",i,"=",number1*i)

In [10]:
gettable(3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In the code above, we define a function 'gettable' for number1 and inside the function we initiate a for loop that checks 
every value in the range 1,10 (slicing range: 1,11). These elements are then printed with inputed number as a product and
displayed as an output when called.

## <font color = blue>14. Task: Return a table for the value inputed by user. Define a function</font>
## <font color = blue>          & append it in a blank list</font>

In [14]:
def gettable(number1):
    out=[]
    for i in range(1,11):
        a = number1,"*",i,"=",number1*i
        out.append(a)
    return out

In [15]:
gettable(3)

[(3, '*', 1, '=', 3),
 (3, '*', 2, '=', 6),
 (3, '*', 3, '=', 9),
 (3, '*', 4, '=', 12),
 (3, '*', 5, '=', 15),
 (3, '*', 6, '=', 18),
 (3, '*', 7, '=', 21),
 (3, '*', 8, '=', 24),
 (3, '*', 9, '=', 27),
 (3, '*', 10, '=', 30)]

This task is similar to the previous task. The only difference here is instead of printing the value of the element(i) and
the inputed number, it is appending the value of the product of inputed number*i in the blank list.

## <font color = blue>15. Try & Except block</font>

Try and Except block is used to cover up for an exception or an error.
If the code has some error then the try and except block will show an error flag (comment).
Let us understand the same using the following example.

In [21]:
def gettable(number):
    try:
        out=()
        for i in range(1,11):
            a=number,"*",i,"=",i*number
            out.append(a)
        return out
    except:
        print("error in gettable fn!")

In [22]:
gettable("65")

error in gettable fn!

So in the code above, I am using the same example from the task to make the concept more clear.
Here we are writing the execution code from the Task above inside the 'Try' block. If the user makes an error in inputing 
a number. For instance, in the example above instead of passing 65 as a value, I am passing it as a string '65'. In this
scenario, the Try block won't run, instead the except block will run and display the error flag as 
'error in gettable fn!'.
Try and except blocks are generally used to handle errors or exceptions in Python.